
.ComoFunciona {
    display: flex;
    align-items: center;
    gap: 27px;
}

.ComoFunciona__Imagem {
    margin-top: 85px;
    width: 468px;
    height: 340px;
}


@media (max-width: 1250px){
    .ComoFunciona{
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .ComoFunciona__Imagem{
        margin-top: 10px;
    }
}