 

.Marketing {
    display: flex;
}

.Marketing__Container {
    width: 782px;
}

.Marketing__Container > section {
  max-width: 100%;
  width: 100%;
}

.Marketing__Container__Cta {
    display: inline-block;
    margin-top: 1.2rem;
    padding: 0.7rem 1.6rem;
    background: var(--cor-1);
    color: var(--cor-3);
    text-decoration: none;
    border-radius: 8px;
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 20px;
}

.Marketing__Imagem {
    margin-top: 25px;
}

// aqui commeçam os media queries

@media (max-width: 1250px) { 
    .Marketing {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .Marketing__Container{
        width: auto;
    }

    .Marketing__Imagem{
        width: 300px;
        height: auto;
    }
}