.perfil {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.perfil__conteudo{
    width: auto;
    padding: 30px;
    height: 100%;
    background-color: var(--cor-7);
    display: flex;
    flex-direction: column;
    gap: 30px;
}


@media (max-width: 1300px) {
  .perfil{
    width: 100vw;
  }
}