.consulta{
    width: 90%;
    background-color: #FFFFFF;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.consulta__titulo{
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 18px;
    color: #252A31;
    padding-bottom: 20px;
}

.consulta__label{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 14px;
    color: #252A31;
}

.consulta__select{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background-color: #D9D9D9;
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../../../../../assets/CallMed/select.png'); 
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 10px;
    padding-right: 40px;
    cursor: pointer;
}

.consulta__select:hover{
    border: 2px solid #2388E8;
}

.consulta__botao{
    border: none;
    background-color: #2388E8;
    color: #FFFFFF;
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 14px;
    padding: 14px 70px;
    border-radius: 8px;
    cursor: pointer;
}

.consulta__botao:hover{
    border: 1px solid #252A31;
}

.consulta__error{
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 16px;
    color: #cc200f;
}

@media (max-width: 1400px) {
  .consulta{
    width: 80%;
  }
  
}

@media (max-width: 900px) {
    .consulta{
        width: 60%;
    }

  
}